@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,800&display=swap");

:root {
  --red: rgb(204, 22, 22);
  --white: rgb(255, 255, 255);
  --black-opac: rgba(0, 0, 0, 0.5);
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section .hero {
  background-image: linear-gradient(var(--black-opac), var(--black-opac)), url(../img/hero-bg.jpg);
  background-attachment: fixed;
  object-fit: cover;
  padding: 15rem 0;
}

section .data {
  transition: 0.5s ease;
}

section .data:hover {
  background-color: var(--red);
  color: var(--white) !important;
}

.half-height {
  height: 70vh;
}

.fs-7 {
  font-size: 14px;
}

.img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
